.profileCard {
  background-image: url('https://assets.ccbp.in/frontend/react-js/profile-bg.png');
  height: 30vh;
  background-size: cover;
  width: 25vw;
  border-radius: 15px;
  border-bottom-right-radius: 24px;
  border-bottom-left-radius: 24px;
  padding: 15px;
}
.img4 {
  width: 40px;
}
.h3 {
  color: #6366f1;
  font-weight: bold;
  font-family: Roboto;
  font-size: 30px;
}
